[submodule ".\\vendor\\transformers"]
	path = .\\vendor\\transformers
	url = https://github.com/huggingface/transformers
[submodule "vendor\\lmexplorer"]
	path = vendor\\lmexplorer
	url = https://github.com/DeanSellas/lm-explorer
[submodule "vendor\\transformers"]
	path = vendor\\transformers
	url = https://github.com/DeanSellas/transformers
